[Bb]uild/*
[Dd]ocs/*
CMakeCache.*
CMakeFiles/*
[Tt]esting/*

# User's cmake configuration
cmake/UserConfig.cmake

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Others
~$*
*~
